<!DOCTYPE html>

{% set nbPerRow = 3 %}
{% set categorie = "GALA_2023" %}
{% set nbPerRow = 3 %}


<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style\stylesheet.css" >
    <title>Com'Studio</title>
</head>
<body>
    <header class="header-photo">
        <div><a href="/menu"><img src="image/arrow-left.svg" height="40%"></img></a></div>
        <div><h1>{{ categorie }}</h1></div>
        <div id="home" class="header-logo">Com'STUDIO</div>
    </header>

    <div class="row">


    {% for i in 1..10 %}
        <div class="conteneur-photo">
            <div class="download">
                <a href="/image/{{ categorie }}/LEV-{{ i }}.jpg" download><img src="/image/download.svg" ></a>
            </div>
            <a href="image/{{ categorie }}/LEV-{{ i }}.jpg"><img src="image/{{ categorie }}/LEV-{{ i }}.jpg" height="200px"alt=""></a>
        </div>  
         
        {% if i % nbPerRow == 0 %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
    </div>

    

 

    {% include 'footer.html' %}
</body>
</html>