<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style\stylesheet.css" >
    <link rel="stylesheet" href="style\demo.css" >
    <link rel="javascript" href="style\javascript.js" >
    <title>Menu</title>
</head>
<body>
    <header class="header">
        <a href="/" class="header-link" style>Presentation</a>
        <div><img src="image/Logo_Noir_header.jpg"></div>
        <a href="/login">Photos</a>
    </header>

<div class="derniere-categories">
   
    {% for i in 2..0%}
            <a href="/photo/{{troisDerniers[i][0]}}/{{troisDerniers[i][1]}}" class="derniere-categorie1"  style='background-image:linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url("/image/rallye.jpg");'>
                <div></div>
                <h2 class='text-categorie'>   {{troisDerniers[i][0]}} {{troisDerniers[i][1]}}</h2>
            </a>
    {% endfor %}
 </div>
    
   <div class="searchbar">
        
        <input type = 'text'>
        <button type="submit"><img src='../image/search.svg'></button>
   </div>


    <div class="derniere-categories">
    {% set i = 0 %}
    {% for categorie in categories %}
        {% set i = i + 1 %}

        {% if (i/2) == 0 %}
            </div>
            <div class="derniere-categories">
        {% endif %}


        
        <a 
            href="/photo/{{ categorie[0]}}" 
            class="derniere-categorie1"  
            style='background-image:linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url("/image/rallye.jpg");'
            >
                <div></div>
                <h2 class='text-categorie'> {{ categorie[0]}} </h2>
        </a>
        
    {% endfor %}
    </div>
   

    {% include 'footer.html' %}

</body>
</html>