<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style\stylesheet.css" >
    <link rel="stylesheet" href="style\carousel.css" >
    <link rel="javascript" href="style\javascript.js" >
    <title>ADMIN</title>
</head>
    {% set nbPerRow = 4 %}

<body>
    {# {% include 'portfolio.twig' %} #}

      <header class="header-photo">
        <div id="home" class="header-logo">Com'STUDIO</div>
        
        <div><h1>Administrateur </h1></div>

        <div>
            <a href="/categorie" class="boutton">Nouvel evenement</a>
            <a href="/portfolio" class="boutton">Portfolio</a>
        </div>
        
    </header>

    <main>
        <div>
            {% for categorie in categories %}
            <div class="admin-categorie">
                <div></div>   
                <h2>{{ categorie[0] }}</h2>

                <div class="admin-plus">
                    <a href="/add_dossier/{{ categorie[0] }}"><img src="image/plus.svg"></a>
                    <img src="image/three-dots.svg">
                </div>
            </div>   

            <div class="admin-categorie-corps">
                <div class="admin-row">
                {% set i = 0 %}
                {% for dossier in categorie %}

                    {% if not i == 0 %}
                    <div class="dossier">
                        <h3>{{ dossier }}</h3>
                        <form method="POST" action="\manager">
                            <img src="image/stopwatch.svg">
                            <a href='add_image'><img src="image/upload.svg"></a>
                            <input type="hidden" name="action" value="supprimer">
                            <input type="hidden" name="categorie" value={{categorie[0]}}>
                            <input type="hidden" name="dossier" value={{categorie[i]}}>

                            <button type="submit"><img src="image/x-circle-fill.svg"></button>
                        </form>
                    </div>
                    {% endif %}

                    {% if i % nbPerRow == 0 %}
                        </div>
                        <div class="admin-row">
                    {% endif %}
                        
                    {% set i = i +1 %}
                {% endfor %}
                </div>
            </div>
            {% endfor %} 

        </div>    

    

    </main>

  
    {% include 'footer.html' %}
</body>
</html>